:root {
  --ifm-color-card: rgba(25, 104, 118, 0.21);
  --ifm-color-shadow: rgba( 22, 94, 106, 0.37 );
}

[data-theme='dark'] {
  --ifm-color-card: rgba(169, 197, 234, 0.21);
  --ifm-color-shadow: rgba( 137, 175, 226, 0.37 );
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  background-color: var(--ifm-color-card);
  border-radius: 15px;
  border: 2px solid var(--ifm-color-primary);
  padding-block: 1.5rem;
}

.cardImage {
  display: block;
  width: 50%;
  margin-inline: auto;
}

.title {
  color: var(--ifm-color-primary);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 10px;
}
