.btn, .inputField, .msg {
  all: unset;
}

.names {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.contact {
  /* columns: 2 40rem; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
}

.btn {
  background-color: var(--ifm-color-primary);
  width: 80%;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-inline: auto;
  border-radius: 50px;
}

.form {
  margin-inline: auto;
  padding-block: 1.5rem;
  width: 90%;
}

.inputContainer {
  border: none;
}

.msg::placeholder, .inputField::placeholder {
  color: var(--ifm-color-base);
}

.inputField, .msg {
  font-size: 0.8em;
  width: 100%;
  border-bottom: 2px solid var(--ifm-color-primary);
}

.msg {
  height: 150px;
  scrollbar-width: thin;
}
